<!-- <p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %> --> 

<!-- <p id="notice"><%= notice %></p>
<h2>Your Pragmatic Cart</h2>
<ul>
<% @cart.line_items.each do |item| %>
<li><%= item.quantity %> &times; <%= item.product.title %></li> -->
<!-- following line replaced by above ling according to page no 131
<li><%= item.product.title %></li>  -->
<!--<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>   
</ul>   -->

<!-- the above section is commented because of following modified section according to page no 141 -->


<p id="notice"><%= notice %></p>
<%= render @cart %>

<!-- the following section is commented according to instruction given on page no 148 -->
 <!-- <h2>Your Cart</h2>
 <table> -->
 <!-- the 24 line no is written according to page no 147 -->
<!--  <%= render(@cart.line_items) %>
<% @cart.line_items.each do |item| %>
 <tr>
 <td><%= item.quantity %>&times;</td>
 <td><%= item.product.title %></td>
 <td class="item_price"><%= number_to_currency(item.total_price) %></td>
 </tr>
<% end %>
 <tr class="total_line">
 <td colspan="2">Total</td>
 <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
 </tr>
 </table>
<%= button_to 'Empty cart', @cart, method: :delete,data: { confirm: 'Are you sure?' } %>